<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>{% block title %}InfluKit{% endblock %}</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
      <a class="navbar-brand" href="/">InfluKit</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarNav"
        aria-controls="navbarNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
          <!-- Align items to the right -->
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.admin_dashboard') }}"
              >Dashboard</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.flag_user') }}"
              >Flag Users</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.view_campaigns') }}"
              >View Campaigns</a
            >
          </li>
          <li class="nav-item">
            <a class="nav-link" href="{{ url_for('main.view_ad_requests') }}"
              >View Ad Requests</a
            >
          </li>
          <li class="nav-item">
            <a
              class="nav-link btn btn-primary text-white custom-right btn-sm"
              href="{{ url_for('main.logout') }}"
              >Logout</a
            >
          </li>
        </ul>
      </div>
    </nav>

    <div class="container mt-4">
      {% with messages = get_flashed_messages(with_categories=true) %} {% if
      messages %}
      <div class="alert-container">
        {% for category, message in messages %}
        <div class="alert alert-{{ category }}">{{ message }}</div>
        {% endfor %}
      </div>
      {% endif %} {% endwith %} {% block content %}{% endblock %}
    </div>
  </body>
</html>
