{% extends 'sponsor/base.html' %} {% block title %} View Ad Requests {% endblock
%} {% block content %}
<h2>Ad Requests</h2>
<table class="table">
  <thead>
    <tr>
      <th>Campaign</th>
      <th>Message</th>
      <th>Requirements</th>
      <th>Payment Amount</th>
      <th>Status</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    {% for ad_request in ad_requests %}
    <tr>
      <td>{{ ad_request[7] }}</td>
      <td><pre>{{ ad_request[3] }}</pre></td>
      <!-- Updated to display messages -->
      <td>{{ ad_request[4] }}</td>
      <td>${{ ad_request[5] }}</td>
      <td>{{ ad_request[6] }}</td>
      <td>
        {% if ad_request[6] == 'Negotiating' %}
        <a
          href="{{ url_for('main.sponsor_respond_negotiation', ad_request_id=ad_request[0]) }}"
          class="btn btn-primary"
          >Respond</a
        >
        {% endif %}
      </td>
    </tr>
    {% endfor %}
  </tbody>
</table>
{% endblock %}
