<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>InfluKit</title>
    <!-- Include Bootstrap CSS for styling -->
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
      integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T"
      crossorigin="anonymous"
    />
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
  </head>
  <body
    class="d-flex justify-content-center align-items-center min-vh-100 bg-light"
  >
    <div class="text-center">
      <h1 class="display-4 font-weight-bold mb-4">
        <span class="text-blue">Welcome to InfluKit!</span>
      </h1>
      <p class="lead mb-4">
        <span class="d-block text-dark font-weight-bold"
          >Connecting Sponsors with Influencers...</span
        >
        <span class="d-block text-dark"
          >Elevate your brand's visibility and reward top influencers with
          meaningful partnerships!</span
        >
      </p>
      <div>
        <a
          class="btn btn-outline-primary btn-lg mr-2"
          href="{{ url_for('main.login') }}"
          >Login</a
        >
        <a
          class="btn btn-outline-primary btn-lg"
          href="{{ url_for('main.signup') }}"
          >Signup</a
        >
      </div>
    </div>

    <script
      src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
      integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
      integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
      integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
